@import "_reset";
@import "_fonts";

$clr_1: #FFF;
$clr_2: #000;
$clr_3: #F6D330;
$clr_4: #0B0D21;

@mixin fontz($ff, $fw, $fs, $fz, $lh) {
  font-family: $ff;
  font-weight: $fw;
  font-style: $fs;
  font-size: $fz;
  line-height: $lh;
}

html, body {
  font-family: 'Alata', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
}

.header {
  background-image: url(../img/background_image.png);
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  background-position: center;
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 45%;
  align-items: flex-end;
  &__link {
    @include fontz('Sofia Pro', 300, normal, 1rem, 1rem);
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: $clr_1;
    margin-top: 26px;
  }
  &__line {
    display: block;
    width: 21px;
    height: 1px;
    background-color: $clr_1;
    margin-left: 5px;
  }
  .active-line {
    width: 60px;
  }
  &__number {
    @include fontz('Sofia Pro', 400, normal, 10px, 10px);
    display: flex;
    align-items: center;
    text-align: right;
    margin-right: 5px;
  }
}

.logo {
  margin: 0 auto;
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item {
    padding-left: 66px;
    position: relative;
  }
  &__list-link {
    @include fontz('Sofia Pro', 600, normal, 1.28rem, 1.28rem);
    color: $clr_2;
  }
  &__list-link:hover {
    border-bottom: 1px solid $clr_3;
    padding-bottom: 6px;
  }
}

.content {
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    font-size: 8.21rem;
    line-height: 9.29rem;
    color: $clr_1;
    text-align: center;
  }
  &__subtitle {
    @include fontz('Sofia Pro', 200, normal, 1.78rem, 2.5rem);
    color: rgba(255, 255, 255, 1);
    margin-top: 41px;
    text-align: center;
  }
  &__button {
    width: 196px;
    height: 48px;
    background: #F9D023;
    position: relative;
    margin-top: 79px;
    padding-right: 30px;
  }
  &__button:hover {
    box-shadow: 0 0 10px 0 #141312 inset,
    0 0 10px 1px #f0d87a;
  }
  &__button-link {
    @include fontz('Sofia Pro', 700, normal, 1rem, 1rem);
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: $clr_2;
  }
  &__button-before {
    position: absolute;
    top: 42%;
    right: 21%;
  }
  &__scroll {
    @include fontz('Sofia Pro', 200, normal, 1rem, 1rem);
    padding-top: 236px;
    padding-bottom: 55px;
    color: rgba(255, 255, 255, 0.7);
  }
}

.block-about-us, .block-services {
  position: relative;
  .navigation__link {
    color: $clr_2;
  }
  .navigation__line {
    background-color: $clr_2;
  }
}

.about-us {
  padding-top: 93px;
  padding-bottom: 140px;
  &__title {
    font-size: 6.43rem;
    line-height: 7.14rem;
  }
  .line {
    display: block;
    width: 100px;
    height: 6px;
    background: $clr_3;
    margin-top: 50px;
  }
  &__content {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
  }
  &__content-text {
    @include fontz('Sofia Pro', 400, normal, 1.28rem, 1.85rem);
    color: $clr_4;
    width: 44%;
  }
}

.block-services {
  background: $clr_3;
}
.services {
  padding-top: 101px;
  &__title {
    font-size: 6.43rem;
    line-height: 5.71rem;
  }
  .line {
    display: block;
    width: 100px;
    height: 6px;
    background: $clr_1;
    margin-top: 62px;
  }
  &__subtitle {
    @include fontz('Sofia Pro', 300, normal, 1.28rem, 1.86rem);
    color: $clr_4;
    padding-top: 45px;
    width: 74%;
  }
  .text-bottom {
    padding-top: 67px;
    padding-bottom: 92px;
  }
  &__advantages {
    padding-top: 47px;
    display: flex;
    justify-content: space-between;
  }
  &__advantages-content {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }
  &__advantages-content:last-child {
    margin-right: 0;
  }
  &__advantages-title {
    @include fontz('Sofia Pro', 700, normal, 2.86rem, 3rem);
  }
  &__advantages-list {
    margin-top: 33px;
    list-style: square outside;
  }
  &__advantages-points span {
    @include fontz('Sofia Pro', 300, normal, 1.28rem, 1.43rem);
    color: $clr_4;
  }
  &__advantages-points {
    color: $clr_1;
    font-size: 14pt;
    margin-left: 23px;
  }
  &__advantages-arrow {
    margin-top: 41px;
    margin-left: 26px;
  }
}

.footer {
  background-color: $clr_2;
  padding: 101px 0 288px;
  position: relative;
  &__contact {
    padding-right: 25px;
  }
  &__contact h2 {
    font-size: 6.43rem;
    line-height: 7.14rem;
    letter-spacing: 0px;
    color: $clr_1;
  }
  &__contact .line {
    display: block;
    width: 100px;
    height: 6px;
    background-color: $clr_3;
    margin-top: 40px;
  }
  &__contact .email-head {
    @include fontz('Sofia Pro', 700, normal, 2.86rem, 3rem);
    letter-spacing: 0px;
    text-align: left;
    color: $clr_1;
    margin-top: 40px;
  }
  &__form {
    display: block;
    margin-top: 53px;
  }
  &__form .form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  &__form input {
    width: 445px;
    padding: 18px 0 16px 20px;
    margin-top: 15px;
  }
  &__form-send {
    width: 272px;
    height: 48px;
    background-color: $clr_3;
    position: relative;
    margin-top: 14px;
    padding-right: 30px;
  }
  &__form-send:hover {
    box-shadow: 0 0 10px 0 #141312 inset,
      0 0 10px 1px #f0d87a;
  }
  &__form-send-link {
    @include fontz('Sofia Pro', 700, normal, 1rem, 1rem);
    letter-spacing: 0.6px;
    color: $clr_2;
  }
  &__form-send-before {
    position: absolute;
    top: 43%;
    left: 147px;
  }
  &__form-answer {
    margin-top: 53px;
    display: none;
  }
  &__form-answer .head {
    width: 320px;
  }
  &__form-answer .contact-text {
    @include fontz('Sofia Pro', 300, normal, 1.28rem, 1.78rem);
    color: $clr_1;
    margin-top: 50px;
    width: 364px;
  }
}
.footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__contact .email-head .email,
.footer__form-answer .contact-text .email {
  color: $clr_3;
  text-decoration: none;
  border-bottom: 1px solid $clr_3;
}
.footer__contact .email-head .email:hover {
  color: #cca90c;
}
.footer__form .head,
.footer__form-answer .head {
  @include fontz('Sofia Pro', 700, normal, 2.86rem, 3rem);
  width: 266px;
  color: $clr_1;
}
.footer__form input,
.footer__form input::placeholder {
  @include fontz('Sofia Pro', 700, normal, 1rem, 1rem);
  letter-spacing: 0.6px;
  color: $clr_2;
}


@media (max-width: 640px) {
  .content__subtitle {
    width: 30%;
  }
  .about-us {
    &__content {
    flex-direction: column;
    justify-content: start;
    }
  }
}